.dialogsColumn {
  background-color: #ffffff;
}

.dialogsList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.messagesColumn {
  background-color: #ffffff;
  margin-left: 12px;
  padding: 5px;
  height: 580px;
}

.messages {
  position: relative;
}

.messageItem {
  padding: 10px;
  height: 420px;
  margin: 5px;
  border: 1px solid #dddddd;
  overflow-y: scroll;
}

.messagesContainer {
  position: relative;
  height: 500px;
}

.messagesTitle {
  height: 60px;
  padding: 10px 5px;
  font-size: 24px;
}

.messageEnter {
  height: 60px;
  padding: 10px 0;
  margin: 5px;
}
