.pagination {
  display: flex;
  margin: 10px 0 20px 0;
  justify-content: center;
}
.usersList {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-column-gap: 1rem;
}