.App {
  /* text-align: center; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: hidden;
  padding-bottom: 200px;
}
.title h1 {
  font-size: 35px;
  margin-left: 1%;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 26px;
  font-family: "Baskerville";
}