.header {
  grid-area: h;
  background-color: #3d3d3d;
  text-align: left;
  border-radius: 10px;
  position: relative;
  top: 5%;
}
.header img {
  width: 60px;
  padding: 2px;
  position: relative;
  bottom: 3%;
}
.loginBlock {
  float: right;
}
.loginBlock a {
  color: white;
}

/* .header {
    color: white;

}  */

/* font-size: 20px; */
/* vertical-align: 10px; */
