.nav {
  grid-area: n;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  /* position: absolute;
  top: 9%;
  width: 156px; */
  box-shadow: 0 0 10px rgba(143, 142, 142, 0.5);

  margin-top: 5px;
  margin-right: 5px;
}
.item a {
  color: #000000;
  text-decoration: none;
}

.item a.activeLink {
  color: #80d8f7;
}
.items {
  padding: 40px;
  font-size: x-large;
}
.items a {
  color: #000000;
  text-decoration: none;
}
.items a.activeLink {
  color: #80d8f7;
}

.itemfr img {
  /* width: 40px;
    height: 40px;
    border-radius: 25px; */
  float: left;
  margin-left: -18px;
}
.itemfr img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.itemfre img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.itemfre img {
  position: relative;
  left: 87%;
  top: -137%;
}

.itemfres img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.itemfres img {
  position: relative;
  left: 210%;
  top: -274%;
}
